<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    *{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }
    </style>
<footer class="page-footer">
    <div class="footer-copyright">
        <div style="display: flex; align-items: center;" class="container">
            <div style=" width: 10rem; display: flex;justify-content: center; width: 15rem;">   © 2014 - {{date.year}} Copyright</div>
            <div style=" width: 10rem; display: flex;justify-content: center;size: 15rem; margin-left: 29%;">
                <a  href="https://www.facebook.com/profile.php?id=100076680485730" target="_blank" rel="noopener noreferrer"><i style="font-size: 2rem; background-color: #fff; border-radius: 3px;" class="large material-icons">facebook</i></a>
            </div>
            <div style="margin-left: 420px; width: 7rem; display: flex;justify-content: center;align-items: center;"><a style="color: rgb(230, 227, 227);" href="#!">More Links</a></div>
        </div>
    </div>
</footer>