{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}


    <div  class="container">
        <h1 style="display: flex;justify-content: center;">Home Page</h1>
        <hr>
        <div style="background-color: #fff; border-radius: 15px;width: 61%;height: 10rem;margin: 0 auto; padding-top: 0.3rem;">
            <div><h3 style="display: flex;align-items: center; justify-content: center;">Welcome To Website</h3></div>
            <div><p style="display: flex;align-items: center; justify-content: center;">Further information on this website contains information about Liverpool players.</p></div><br>
        </div>
       
        
    </div>
{% endblock %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    *{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }
    </style>