{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}


    <div class="container">
        <h1>{{title}}</h1>
        <hr>
        <div class="row">
            <form class="col s12" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <input name="id"id="id" type="text" class="validate" required>
                  <label for="id">Student ID</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="name" id="name" type="text" class="validate" required>
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="position" id="position" type="text" class="validate" required>
                  <label for="position">Position</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="team" id="team" type="text" class="validate" required>
                  <label for="team">Team</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="Personal_Information" id="Personal_Information" type="text" class="validate" required>
                  <label for="Personal_Information">Personal Information</label>
                </div>
              </div>
              <div class="row">
               <button type="submit" class="btn waves-effect waves-light">
                <i class="material-icons left">person_add</i>
                addContact
            </button>
            <a href="{{ url_for('contacts') }}" class="waves-effect waves-light btn blue darken-1"><i
              class="material-icons left">chevron_right</i>Back</a>
              </div>
            </form>
          </div>
    </div>
{% endblock %}
