{% extends "layout.html" %}

{% block title %}
    {{title}}
  
{% endblock %}

{% block content %}
    <div class="container"  style="width: 50%;margin-top: 2rem;">
      <h1  >{{title}}</h1>
      <hr>
      <div class="card" style="background: rgba(255, 255, 255, 0.1); width: 60%;margin: 2rem auto; border: 1px solid rgb(83, 81, 81);backdrop-filter: blur(5px);">
        <div class="card-header  text-center "style="border: none;">
          <h5>{{title}}</h5>
        </div>
        <div class="crad-body" style="display: flex;align-items: center;justify-content: center;">
          <form style="margin: 1rem 0 1rem 0;" method="post">
            <div class="mb-3">
              <label  for="sid" class="form-label">Student ID</label>
              <input disabled value="{{ std.sid }}" style="width: 30rem; margin-left: 1rem;background: none; color: white;" name="sid" type="text" class="form-control" id="sid" required placeholder="please fill ">
            </div>

            <div class="mb-3">
              <label for="sname" class="form-label">Student name</label>
              <input value="{{ std.sname }}" style="width: 30rem; margin-left: 1rem;background: none; color: white;" name="sname" type="text" class="form-control" id="sname" required placeholder="please fill ">
            </div>

            <div class="mb-3">
              <label for="smobile" class="form-label">Mobile Phone</label>
              <input value="{{ std.smobile }}" style="width: 30rem; margin-left: 1rem;background: none; color: white;" name="smobile" type="text" class="form-control" id="smobile" required placeholder="please fill ">
            </div>

            <div class="mb-3">
              <label for="sfaculty" class="form-label">Faculty</label>
              <input value="{{ std.sfaculty }}" style="width: 30rem; margin-left: 1rem;background: none;color: white;" name="sfaculty" type="text" class="form-control" id="sfaculty" required placeholder="please fill ">
            </div>

            <button type="submit" class="btn btn-outline-primary"><i style="font-size: 1.25rem;" class="bi bi-person-add"></i> </button>
            <a style="font-size: 1.5rem;" href="{{url_for('show_all_students')}}"><i class="bi bi-arrow-return-left float-end btn btn-outline-success"></i></a>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
