{% extends 'layout.html' %}
{% block title %}
  Detail
{% endblock %}

{% block content %}
  <div class="container">
    <h1 style="display:flex ; justify-content: center;">My Data Friend</h1>
    <hr>
    <table class="striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile</th>
      </thead>
      <tbody>
        <td>{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.mobile}}</td>
      </tbody>
    </table>
  </div>
  <div style="margin-left: 21.4rem; width: 5rem; margin-top: 1rem; "><a href="{{url_for('contacts')}}" class="waves-effect waves-light btn-small">Black</a</div>
{% endblock %}
