<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" style="margin-left: 2rem;">CTL</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" >menu</i></a>
      <ul class="right hide-on-med-and-down" style="margin-right:2rem ;">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('contacts') }}">My Contacts</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('contacts') }}">My Contacts</a></li>
  </ul>
</body>
</html>